.header {
    width: 100%;
    max-width: 1770px;
    min-height: 821px;
    margin: 0 auto;
    background-image: url(/images/image\ 1.png);

    &__wrap {
        width: 100%;
        max-width: 1770px;
        min-height: 821px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    &__top{
        width: 100%;
        max-width: 372px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        color: #ffffff;
    }
    &__title{
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 4.8px;
        text-align: center;
    }
    &__text{
        width: 100%;
        max-width: 345px;
    }
}


.nav {
    width: 100%;
    height: 83px;
    background-color: #496BFE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}