.section__first {
    width: 100%;
    max-width: 1773px;
    max-height: 685px;
    height: 100vh;
    margin: 0 auto;
    background-image: url(/images/first.png);
    background-size: contain;
}

.container__first {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: white;
    padding: 30px;

    &__box {
        width: 50%;
        max-width: 560px;
        min-height: 560px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        padding-top: 30px;
    }

    &__title {
        width: 100%;
        max-width: 288px;
        font-size: 36px;
        font-family: fonts.$second-font;
    }

    &__text {
        width: 100%;
        max-width: 560px;
        font-size: 16px;
    }
}
.container__first__btn{
    max-width: 228px;
    min-height: 63px;
    text-transform: uppercase;
}


.container__first__img {
    width: 50%;
    max-width: 560px;
    min-height: 660;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container__first__imgOne{
    width: 100%;
    max-width: 350px;
    min-height: 220px;
    display: flex;
    align-self: flex-start;
    padding: 10px;
}
.container__first__imgTwo{
    width: 100%;
    max-width: 350px;
    min-height: 220px;
    display: flex;
    align-self: flex-end;
}