@use 'fonts';
@import 'header';
@import 'footer';
@import 'sectionOne';
@import 'sectionTwo';
@import 'sectionThree';
@import 'sectionFour';
@import 'sectionFive';


body{
    margin: 0 auto;
    font-family: fonts.$main-font;
}
main{
    width: 100%;
    max-width: 1773px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

button{
    width: 100%;
    font-family: fonts.$second-font;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #5474FD;
    padding: 20px;
    border: none;
    text-transform: uppercase;
}
button:hover{
    background-color: #5d6897;
}