.header {
  width: 100%;
  max-width: 1770px;
  min-height: 821px;
  margin: 0 auto;
  background-image: url(/images/image\ 1.png);
}
.header__wrap {
  width: 100%;
  max-width: 1770px;
  min-height: 821px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__top {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.header__title {
  width: 100%;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 4.8px;
  text-align: center;
  margin-top: 240px;
  margin-bottom: 0;
}
.header__text {
  width: 100%;
  max-width: 345px;
  min-height: 26px;
  font-size: 22px;
  letter-spacing: 6px;
  margin-top: 0;
}

.nav {
  width: 100%;
  height: 83px;
  background-color: #496BFE;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  width: 100%;
  max-width: 1770px;
  min-height: 268px;
  margin: 0 auto;
  background-color: #232323;
}

.section__first {
  width: 100%;
  max-width: 1773px;
  min-height: 685px;
  margin: 0 auto;
  background-image: url(/images/first.png);
}

.container__first {
  width: 100%;
  max-width: 1120px;
  min-height: 685px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: white;
  padding: 30px;
}
.container__first__box {
  width: 50%;
  max-width: 560px;
  min-height: 560px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 30px;
}
.container__first__title {
  width: 100%;
  max-width: 288px;
  font-size: 36px;
  font-family: "Aleo", serif;
}
.container__first__text {
  width: 100%;
  max-width: 560px;
  font-size: 16px;
}

.container__first__btn {
  max-width: 228px;
  min-height: 63px;
  text-transform: uppercase;
}

.container__first__img {
  width: 50%;
  max-width: 560px;
  min-height: 660;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container__first__imgOne {
  width: 100%;
  max-width: 350px;
  min-height: 220px;
  display: flex;
  align-self: flex-start;
  padding: 10px;
}

.container__first__imgTwo {
  width: 100%;
  max-width: 350px;
  min-height: 220px;
  display: flex;
  align-self: flex-end;
}

.section__second {
  width: 100%;
  max-width: 1770px;
  max-height: 340px;
  height: 100vh;
  margin: 0 auto;
  background-image: url(/images/second.png);
}

.section__third {
  width: 100%;
  max-width: 1770px;
  max-height: 700px;
  height: 100vh;
  margin: 0 auto;
  background-image: url(/images/third.png);
}

.section__fourth {
  width: 100%;
  max-width: 1770px;
  max-height: 700px;
  height: 100vh;
  margin: 0 auto;
  background-image: url(/images/fourth.png);
}

.section__fifth {
  width: 100%;
  max-width: 1770px;
  max-height: 731px;
  height: 100vh;
  margin: 0 auto;
  background-image: url(/images/fifth.png);
}

body {
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
}

main {
  width: 100%;
  max-width: 1773px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  width: 100%;
  font-family: "Aleo", serif;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #5474FD;
  padding: 20px;
  border: none;
  text-transform: uppercase;
}

button:hover {
  background-color: #5d6897;
}/*# sourceMappingURL=index.css.map */