@use 'fonts';
@import 'header';
@import 'main';
@import 'footer';
@import 'sectionOne';


body{
    margin: 0 auto;
    font-family: fonts.$main-font;
}

.container__wrap {
    width: 100%;
    max-width: 1770px;
}
