@use 'fonts';
@import 'header';
@import 'footer';
@import 'sectionOne';
@import 'sectionTwo';
@import 'sectionThree';
@import 'sectionFour';
@import 'sectionFive';


body{
    margin: 0 auto;
    font-family: fonts.$main-font;
}
main{
    width: 100%;
    max-width: 1773px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

// .container__wrap{
//     width: 100%;
//     max-width: 1773px;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;

// }